body{
    background-image: url(speedy.png);
    margin: auto 0;
}
/*SPEEDY*/
.flex {
    display: flex;
    justify-content: space-around;
}

.speedyUn {
    width: 30%;
    margin-top: 150px;
    margin-left: 230px;
}

.speedyDeux {
    width: 70%;
    margin-top: 150px;
    display: none;
}

.button {
    margin-top: 15px;
    ;
}


/* Modal*/

#outfit{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-left: 10%;
}

.outfitVert{
    width: 30%;
    height: 500px;
}

#disp {
    background-color: rgb(169, 44, 65);
    color: white;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 2%;
    width: 30%;
    
}

.modalFlex{
    background-color: rgb(41, 45, 45);
    color: white;
    text-align: center;
    padding: 1%;
    border: solid black 3px;
    border-radius: 25px;
    width: 27.8%;
    
}

#modal {
    display: none;
}



/*LIKE DISLIKE*/
.btnLikeDislike{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}
#like{
    display: none;
    width: 100%;
    height: 500px;
}

#dislike{
    display: none;
    width: 100%;
    height: 500px;
}

#btnLike {
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    font-size: 50px;
    background-color: rgb(0, 47, 255);
}

#btnDislike{
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    font-size: 50px;
    background-color: red;
}

/* EXO 6 DSDSSDFSFSFSFSF */

.ensembleTexte{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bloc1{
    background-color: violet;
    padding: 2%;
    width: 50%;
    text-align: center;
}

.bloc2{
    background-color: rgb(60, 52, 176);
    padding: 2%;
    width: 50%;
    text-align: center;
}

.bloc3{
    background-color: rgb(33, 123, 33);
    padding: 2%;
    width: 50%;
    text-align: center;
}

.bloc4{
    background-color: rgb(154, 62, 26);
    padding: 2%;
    width: 50%;
    text-align: center;
}

.bloc5{
    background-color: rgb(226, 144, 112);
    padding: 2%;
    width: 50%;
    text-align: center;
}

#pave1{
    display: none;
}

#pave2{
    display: none;
}

#pave3{
    display: none;
}

#pave4{
    display: none;
}

#pave5{
    display: none;
}

/* HEADER */

header{
    background-color: black;
    color: white;
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    margin-block-start: 0%;
    text-align: center;
}

.headerLien{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:20px;
}

.headerLien1{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: start;
    font-size: 25px;
    
}

.headerLien2{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    
}
#menuBurger{
    display: none;
}
#headerLienNone{
    display: none;
    background-color: rgb(16, 73, 54);
    
    line-height: 30px;
}


@media only screen and (min-width:601px) and (max-width:912px){
    #menuBurger{
        display: block;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 120px;
        
    }
    .headerLien{
        display: none;
    }
    .burger{
        margin-left: 1%;
        width: 100px;
        display: flex;
        margin-left: 50%;

    }
    h1{
        width: 100%;
        text-align:left;
        font-size: 40px;
        display: none;
    }
    header{
        width: 100%;
    }
    
    
}
@media only screen and (max-width:600px){
    #menuBurger{
        display: block;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 120px;
        
    }
    .headerLien{
        display: none;
    }
    .burger{
        margin-left: 1%;
        width: 100px;

    }
    h1{
        width: 100%;
        text-align:left;
        font-size: 40px;
        display: none;
    }
    header{
        width: 100%;
        
    }
   
    
}